<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScaleEye-большой брат вашей коллекции</title>
    <link href="{{ url_for('static', path = '/css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        table, td, th {
          border-collapse: collapse;
          border: 3px solid #245488;
        }
        th{
            padding: 10px;
        }
        td{
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ScaleEye</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
{#        <a class="nav-link" href={{ url_for('get_all_scale_models_by_collection_id') }}> Моя коллекция </a>#}
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ url_for('add_scale_model_in_collection') }}> Добавить модель </a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div id="content">
    {% block content %} {% endblock%}
</div>
</body>
</html>