{% extends 'base.html' %}
{% block content %}
    {% if scale_list %}
        <img src="{{graph_image_path}}" alt="график изменения цены модели">
        <h4>Цена коллекции:</h4>
        <p>Минимальная цена: {{ collection_price.min_price }} руб.</p>
        <p>Максимальная цена: {{ collection_price.max_price }} руб.</p>
        <table id="collection_table" border="2">
            <thead>
            <tr>
                <th>Название</th>
                <th>Год</th>
                <th>Масштаб</th>
                <th>Производитель</th>
                <th>Мин. цена (за 3 мес.)</th>
                <th>Макс. цена(за 3 мес.)</th>
                <th>Продажи</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
                {% for scale_model in scale_list %}
                    <tr>
                        <td>{{ scale_model.keywords }}</td>
                        <td>{{ scale_model.year }}</td>
                        <td>{{ scale_model.scale }}</td>
                        <td>{{ scale_model.brand }}</td>
                        <td> {{ prices.get(scale_model.id).get("min_price") }}</td>
                        <td> {{ prices.get(scale_model.id).get("max_price") }}</td>
                        <td>
                            <a href={{ url_for('get_all_ads_by_scale_model_id', scale_model_id = scale_model.id) }}> ссылка</a>
                        </td>
                        <td>
                            <a  href="{{ url_for('delete_scale_model_from_collection_by_id', scale_model_id = scale_model.id )}}" > удалить из
                                коллекции</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>В вашей коллекции пока нету отслеживаемых моделей</h4>
    {% endif %}
{% endblock %}